<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387282062050-rp511vaqdkksq84ibcvuma92anpsj6e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387282062050-rp511vaqdkksq84ibcvuma92anpsj6e7</string>
	<key>API_KEY</key>
	<string>AIzaSyBvX5-SoQWYyjVJEWORX2-yNxO0ovekBTI</string>
	<key>GCM_SENDER_ID</key>
	<string>387282062050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hi.chat.sakib.Hi-Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-e26aa</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-e26aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387282062050:ios:0132d05615bbb59a11acbb</string>
	<key>DATABASE_URL</key>
	<string>https://chat-e26aa-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>